@model SunPiontOfSaleFinalProject.Entiteis.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultPrice" class="control-label"></label>
                <input asp-for="DefaultPrice" class="form-control" />
                <span asp-validation-for="DefaultPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoryId" class="control-label"></label>
                @* <select asp-for="categoryId" class="form-control" >
                    @foreach (var item in ViewBag.categories)
                    {
                        <option value="@item.Id">@item.CategoryName</option>
                    }
                </select> *@
                @* <select asp-for="categoryId" class="form-control">
                    @foreach (var item in Model.categoryList)
                    {
                        <option value="@item.Id">@item.CategoryName</option>
                    }
                </select> *@
                <select asp-for="categoryId" asp-items="@(new SelectList(Model.categoryList, "Id", "CategoryName"))" class="form-control">
                    <option value="-1">--Select a category--</option>
                </select>
                <span asp-validation-for="categoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ImageFile" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="@Model.ImageFile" class="form-control" />
                </div>
            </div>
            <div class="form-group float-end">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="float-end">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
